/************************************************************************
  Created by Phil LaPier
  Latest Code: https://github.com/plapier/sexy-css3-flashes
  Requires Sass to compile (http://sass-lang.com/)
************************************************************************/
/* Legacy support for inline-block in IE7 (maybe IE6) */
/* Flash Message Styling
************************************************************************/
div#flash {
  font-size: 15px;
  max-height: 50px;
  position: absolute;
  top: 0px;
  width: 960px;
  z-index: 100; }
  div#flash div.flash_message {
    border: 1px solid #353535;
    border-top: 0;
    -moz-box-shadow: inset 0px -1px 0px 0px #727272;
    -webkit-box-shadow: inset 0px -1px 0px 0px #727272;
    -o-box-shadow: inset 0px -1px 0px 0px #727272;
    box-shadow: inset 0px -1px 0px 0px #727272;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #595959;
    background: -moz-linear-gradient(top, #595959, #3c3c3c);
    background: -ms-linear-gradient(top, #595959, #3c3c3c);
    background: -o-linear-gradient(top, #595959, #3c3c3c);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #595959), color-stop(1, #3c3c3c));
    background: -webkit-linear-gradient(top, #595959, #3c3c3c);
    background: linear-gradient(top, #595959, #3c3c3c);
    height: 50px;
    margin: -50px 0 0;
    overflow: hidden;
    padding: 12px 15px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; }
    div#flash div.flash_message p {
      color: #FFF;
      font-size: 15px;
      font-weight: bold;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      margin: 2px 0px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-shadow: #161616 1px 1px 1px; }
    div#flash div.flash_message div#flash_close {
      background: #434343;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid #353535;
      cursor: pointer;
      float: right;
      height: 20px;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      text-align: center;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -ms-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      vertical-align: top;
      width: 20px; }
      div#flash div.flash_message div#flash_close span.close {
        color: #CCC;
        display: block;
        /* font-stack should degrade somewhat gracefully for X button (close button) */
        font-family: Helvetica, 'lucida grande', Tahoma, Arial, sans-serif;
        font-size: 17px;
        font-weight: bold;
        line-height: 1em;
        text-align: center; }
      div#flash div.flash_message div#flash_close:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: sscale(1.2);
        transform: scale(1.2); }
  div#flash div#flash_icon {
    background: #303030;
    bottom: 4px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: inset 0 1px 0 0 black, #727272 0 1px 0 0;
    -webkit-box-shadow: inset 0 1px 0 0 black, #727272 0 1px 0 0;
    -o-box-shadow: inset 0 1px 0 0 black, #727272 0 1px 0 0;
    box-shadow: inset 0 1px 0 0 black, #727272 0 1px 0 0;
    height: 30px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-right: 12px;
    position: relative;
    vertical-align: top;
    width: 30px; }
    div#flash div#flash_icon div#icon_status {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      height: 20px;
      margin: 5px auto 0;
      width: 20px; }
      div#flash div#flash_icon div#icon_status.icon_success {
        background: #009900; }
      div#flash div#flash_icon div#icon_status.icon_failure {
        background: red; }
      div#flash div#flash_icon div#icon_status.icon_notice {
        background: #f3bc00; }
        div#flash div#flash_icon div#icon_status.icon_notice div#gloss {
          background: white;
          background: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: -ms-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: -o-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, rgba(255, 255, 255, 0)));
          background: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: linear-gradient(top, white, rgba(255, 255, 255, 0)); }
      div#flash div#flash_icon div#icon_status div#gloss {
        background: transparent;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.7);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(1, rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        margin: 0 auto;
        position: relative;
        top: 1px;
        width: 16px; }
  div#flash div#flash-vrule {
    background: #353535;
    border-left: 1px solid #727272;
    bottom: 12px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    height: 48px;
    margin-right: 12px;
    position: relative;
    vertical-align: top;
    width: 1px; }
