* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	list-style: none;
}

div.clear {
	clear: both;
}

body {
	background: rgb(180, 185, 190);
	color: 80, 80, 80;
	font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
	font-size: 11px;
}
div#flash-wrapper {
  margin: 0 auto;
  width: 960px;
}
div#wrap {
	margin: 180px auto;
	width: 300px;
}
div#buttons {
  text-align: center;
}
ul {
  margin-bottom: 30px;
}
ul li {
  display: inline-block;
  margin: 0px 15px 0px 0px;
}

.button {
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.6),
		0 1px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(150, 150, 150),
		0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.6),
		0 1px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(150, 150, 150),
		0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.6),
		0 1px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(150, 150, 150),
		0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.7);
	background-image:
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgb(240, 240, 240)),
			to(rgb(210, 210, 210))
		);
  background:
    -moz-linear-gradient(
      top,
      rgb(240, 240, 240) 0%,
      rgb(210, 210, 210) 100%
    );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#D2D2D2',GradientType=0 ); /* ie */
	color: rgb(90, 90, 90);
	font: 11px/20px 'Lucida Grande', sans-serif;
	height: 20px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

.button:active {
	-webkit-box-shadow:
		inset 0 0 4px 1px rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(140, 140, 140),
		0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:
		inset 0 0 4px 1px rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(140, 140, 140),
		0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow:
		inset 0 0 4px 1px rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(140, 140, 140),
		0 1px 1px rgba(0, 0, 0, 0.3);
}

h1 {
  border-top: 3px solid #333;
  font-size: 1.1em;
  margin-bottom: 4px;
  padding-top: 8px;
  text-shadow: #CFCFCF 1px 1px 0;
}
p {
  margin-bottom: 8px;
  text-shadow: #CFCFCF 1px 1px 0;
}
a {
  color: #333;
  font-weight: bold;
}
a:hover {
  text-shadow: #DDD 1px 1px 0;
}