<div id="flash_wrapper">
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>" class="flash_message">

        <div class="flash_icon">
          <div class="icon_status icon_<%= key %>">
            <div class="gloss"></div>
          </div>
        </div>
        <div class="flash-vrule"></div>
        <p><%=h value %></p>
        <div class="flash_close"><span class="close">&#215;</span></div>

      </div>
    <% end -%>
  </div>
</div>
