/************************************************************************
  Sexy CSS3 Flashes v1.2.0
  Copyright 2010, Phil LaPier
  https://github.com/plapier/sexy-css3-flashes

  Requires Sass to compile (http://sass-lang.com/)
************************************************************************/
/* Legacy support for inline-block in IE7 (maybe IE6) */
/* Flash Message Styling for LIGHT CHROME Flashes
************************************************************************/
div#flash {
  font-size: 15px;
  max-height: 50px;
  position: absolute;
  top: 0;
  width: 960px;
  z-index: 100; }
  div#flash div.flash_message {
    border: 0;
    -moz-box-shadow: inset 0 -1px 0 0 #b4b4b4, 0 0 5px 1px black;
    -webkit-box-shadow: inset 0 -1px 0 0 #b4b4b4, 0 0 5px 1px black;
    -o-box-shadow: inset 0 -1px 0 0 #b4b4b4, 0 0 5px 1px black;
    box-shadow: inset 0 -1px 0 0 #b4b4b4, 0 0 5px 1px black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5, #959595);
    background: -ms-linear-gradient(top, #f5f5f5, #959595);
    background: -o-linear-gradient(top, #f5f5f5, #959595);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #959595));
    background: -webkit-linear-gradient(top, #f5f5f5, #959595);
    background: linear-gradient(top, #f5f5f5, #959595);
    height: 50px;
    margin: -50px 0 0;
    overflow: hidden;
    padding: 12px 15px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; }
    div#flash div.flash_message p {
      color: #222222;
      font-size: 15px;
      font-weight: bold;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      line-height: 120%;
      margin: 2px 0px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
    div#flash div.flash_message div#flash_close {
      background: #b6b6b6;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid #8c8c8c;
      -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.65);
      -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.65);
      -o-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.65);
      box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.65);
      cursor: pointer;
      float: right;
      height: 20px;
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      text-align: center;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -ms-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      vertical-align: top;
      width: 20px; }
      div#flash div.flash_message div#flash_close span.close {
        color: #6f6f6f;
        display: block;
        /* font-stack should degrade somewhat gracefully for X button (close button) */
        font-family: Helvetica, 'lucida grande', Tahoma, Arial, sans-serif;
        font-size: 17px;
        font-weight: bold;
        line-height: 1em;
        text-align: center; }
      div#flash div.flash_message div#flash_close:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: sscale(1.2);
        transform: scale(1.2); }
  div#flash div#flash_icon {
    background: #cccccc;
    bottom: 4px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(255, 255, 255, 0.65);
    -o-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(255, 255, 255, 0.65);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(255, 255, 255, 0.65);
    background: #adadad;
    background: -moz-linear-gradient(top, #adadad, #7e7e7e);
    background: -ms-linear-gradient(top, #adadad, #7e7e7e);
    background: -o-linear-gradient(top, #adadad, #7e7e7e);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #adadad), color-stop(1, #7e7e7e));
    background: -webkit-linear-gradient(top, #adadad, #7e7e7e);
    background: linear-gradient(top, #adadad, #7e7e7e);
    height: 30px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin-right: 12px;
    position: relative;
    vertical-align: top;
    width: 30px; }
    div#flash div#flash_icon div#icon_status {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.7);
      -o-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.7);
      box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.7);
      height: 20px;
      margin: 5px auto 0;
      width: 20px; }
      div#flash div#flash_icon div#icon_status.icon_success {
        background: #009900; }
      div#flash div#flash_icon div#icon_status.icon_failure {
        background: #e00000; }
      div#flash div#flash_icon div#icon_status.icon_notice {
        background: #f3bc00; }
        div#flash div#flash_icon div#icon_status.icon_notice div#gloss {
          background: white;
          background: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: -ms-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: -o-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, rgba(255, 255, 255, 0)));
          background: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
          background: linear-gradient(top, white, rgba(255, 255, 255, 0)); }
      div#flash div#flash_icon div#icon_status div#gloss {
        background: transparent;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.7);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(1, rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        background: linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        margin: 0 auto;
        position: relative;
        top: 1px;
        width: 16px; }
  div#flash div#flash-vrule {
    background: rgba(255, 255, 255, 0.65);
    border-left: 1px solid #999999;
    bottom: 12px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    height: 49px;
    margin-right: 12px;
    position: relative;
    vertical-align: top;
    width: 1px; }
