<!-- Demo of CSS Flashes: Created by Phil LaPier -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.h1 }}</title>
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="css/{{ page.color_scheme }}-chrome-flashes.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>
  </head>

  <body id="{{ page.color_scheme }}">

    <!-- Flash Message -->
    <div id="flash_wrapper">
      <div id="flash">
        <div class="flash_message">

          <div id="flash_icon">
            <div id="icon_status" class="icon_success">
              <div id="gloss"></div>
            </div>
          </div>
          <div id="flash-vrule"></div>
          <p>Sexy CSS3 Flashes</p>
          <div id="flash_close"><span class="close">&#215;</span></div>

        </div>
      </div>
    </div>
    <!-- End Flash Message -->

    <div id="wrap">
      <div id="buttons">
        <ul>
          <li><button id="success" class="button">Success</button></li>
          <li><button id="failure" class="button">Failure</button></li>
          <li><button id="notice" class="button">Notice</button></li>
        </ul>
      </div>
      <h1>Sexy CSS3 Flashes (Dark Chrome)</h1>
      <p>These CSS3 flashes were created on the grounds of providing better functionality and visual appeal. They look best in WebKit-based browsers, almost as good in Firefox, with all other browsers degrading rather gracefully. If you use these flashes in the wild, drop me a note and let me know.</p>
      <p><a href="http://github.com/plapier/sexy-css3-flashes">Fork me on GitHub</a> | <a href="{{ page.inverse_color_scheme }}-chrome.html">Switch to {{ page.inverse_color_scheme }} Chrome</a></p>
    </div>

  </body>
</html>
